@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@mixin font-cursive {
  font-family: "Kristi", cursive;
}

@mixin font-head {
  font-family: "Fredoka One", cursive;
  font-weight: normal;
}

@mixin font-text {
  font-family: "Lato", sans-serif;
}
